<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg  mt-14">
      <div class="grid grid-cols-1 gap-4 mb-4">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae fuga at nemo, numquam non similique quis aliquid soluta vitae nisi earum, ad dolorum et obcaecati eligendi. Laboriosam, laudantium veniam!
         Possimus placeat perferendis ut harum voluptates et cupiditate facilis aliquid praesentium exercitationem natus sed facere incidunt dolorem suscipit tenetur repudiandae nisi, eaque, repellendus quasi deserunt? Consequatur quisquam laudantium a exercitationem.
         Laboriosam, aliquid! Dolore veniam ducimus amet dolor error, nam nihil tenetur voluptates optio placeat, totam culpa labore consequuntur doloremque necessitatibus commodi, aperiam ullam voluptate officia facere blanditiis quisquam vel autem.
         Consequuntur deleniti rerum mollitia perspiciatis similique? Repellat in fuga laboriosam possimus incidunt dolorum numquam, aliquam at labore reiciendis officia ut et ea quis veniam nam ratione distinctio odio. Dolor, dolore?
         Perspiciatis odio in tempora deleniti. Et consectetur ducimus esse voluptate aliquam cum aperiam enim minus ex quisquam provident, explicabo amet ab magni doloribus placeat tempora illo sed. Et, iste possimus?
         Sint debitis minus ab inventore neque corrupti eum mollitia ratione sunt vel, autem repellat odit asperiores hic pariatur rerum accusamus eius, in voluptas laudantium tempora rem odio voluptates! Dolorem, eaque!
         Dolores aperiam in consequuntur voluptas, quasi pariatur quis odit odio natus, sunt quaerat ad iste veniam! Porro dicta exercitationem aspernatur nulla, accusamus ad incidunt tenetur veritatis debitis, aperiam aut eos?
         Quos vero quis sunt nesciunt eos! Sint ut assumenda harum itaque eveniet natus, dolores at dignissimos quisquam suscipit earum, in est? Itaque possimus delectus aliquid ratione nulla aspernatur impedit enim!
         Cumque in maiores blanditiis deleniti, porro, officia optio sunt reiciendis et alias consectetur voluptatum. Fuga deleniti voluptate illum, atque quasi rerum provident praesentium quam id veritatis quod cumque, incidunt explicabo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate velit officia minima eos consequuntur similique, molestiae repellat, sint doloribus sed ipsum error quibusdam! Quos quidem, reiciendis et placeat facilis reprehenderit!
      </div>
   </div>
</div>
  